@media (min-width: 768px) {
  #bdgimage {
    margin-top: -90px;
  }
  #bdgtitle {
    padding-left: 22rem;
  }
  #bddescription {
    position: absolute;
    z-index: -1;
    margin-top: 160px;
    padding-left: 22rem !important;
  }
  #bddescriptiontitle {
    display: none;
  }
  #bdcriterio {
    margin-left: 22rem;
  }
  #bdevidencia {
    margin-left: 22rem;
    margin-top: 1rem;
  }
  #badgebutton {
    margin-left: 22rem;
  }
}
