html {
  min-height: 100%;
  position: relative;
}

.verifooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.veriContent {
  max-width: 400px;
  margin: 11rem auto;
  padding: 0px 20px;
}
.veriText {
  margin: 20px 10px;
}
